.screen-shot{
    overflow: hidden;
    z-index: 2147483645;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.mouse-tracker {
    z-index: 2147483646;
    position: fixed;
    pointer-events: none;
}

.color-circle-container {
    width: 250px;
    height: 290px;
    top: 0px;
    position: fixed;
    background-color: #555;
    z-index: 2147483646;
    display: flex;
    flex-direction: column;
}

.color-value {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    height: 40px;
}

.color-circle {
    width: 250px;
    height: 250px;
    top: 0px;
    display: flex;
}

.color-circle {
    margin: 0;
    background: rgba(0,0,0,0);
}